@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Manage Your Employees</h1>
    <p>This is a web application help you manage your employees!</p>
    <p>
        <p>Create new employees.</p>
        <p>Edit employee personal information.</p>
        <p>Sign up before you use.</p>
    </p>
</div>
